body
{
  background-color: White;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}
h1
{
  color: navy;
  font-family: Arial, Helvetica, sans-serif;
  font-size: x-large;
  font-weight: bolder;
  text-transform: capitalize;
}
h2
{
  color: navy;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  font-weight: bolder;
  text-transform: capitalize;
}
h3
{
  color: navy;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  font-weight: lighter;
  text-transform: capitalize;
}

af|panelHeader.borderedHeader{
    border:2px solid rgb(165,198,255);
    padding-left:1%;
    padding-right:1%;
    padding-bottom:1%;
    margin:1%;
}
af|panelHeader.borderedHeader::title-text0{
    color:#0B70CE;
}